volumes:
  db:
    driver: local
  caddy_data:
  caddy_config:

services:
  php:
    container_name: php
    restart: unless-stopped
    build:
      context: ./docker
      dockerfile: php.dockerfile
      args:
        - PHP_VERSION=8.3.12
        - ALPINE_VERSION=3.20
        - COMPOSER_VERSION=2.8.0
    volumes:
      - ./:/srv
      - ./docker/logs/:/etc/supervisor/logs
    expose:
      - "9000"
    working_dir: /srv
    tty: true

  caddy:
    container_name: webserver
    image: caddy:2.9.1-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./docker/caddyfile:/etc/caddy/Caddyfile
      - ./:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - php

  db:
    container_name: database
    image: postgres:17.4-alpine3.21
    restart: unless-stopped
    tty: true
    environment:
      # default is 'postgres', but you can change it in your ENV file
      - POSTGRES_USER=${DB_USERNAME:-postgres}
      # default is 'postgres', but you can change it in your ENV file
      - POSTGRES_PASSWORD=${DB_PASSWORD:-postgres}
      # default is 'laravel', but you can change it in your ENV file
      - POSTGRES_DB=${DB_DATABASE:-laravel}
    ports:
      - '${DB_PORT:-5432}:5432'
    volumes:
      - db:/var/lib/postgresql/data
    command: -c shared_buffers=512MB
