volumes:
  db:
    driver: local
  caddy_data:
  caddy_config:

services:
  php:
    container_name: php
    restart: unless-stopped
    build:
      context: ./docker
      dockerfile: php.dockerfile
      args:
        - PHP_VERSION=8.3.12
        - ALPINE_VERSION=3.20
        - COMPOSER_VERSION=2.8.0
    volumes:
      - ./:/srv
      - ./docker/logs/:/etc/supervisor/logs
    expose:
      - "9000"
    working_dir: /srv
    tty: true

  caddy:
    container_name: webserver
    image: caddy:2.9.1-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./docker/caddyfile:/etc/caddy/Caddyfile
      - ./:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - php

#   nginx:
#     container_name: webserver
#     restart: unless-stopped
#     build:
#       context: ./docker
#       dockerfile: nginx.dockerfile
#       args:
#         - NGINX_VERSION=1.23.3
#         # php container - service name
#         - PHP_UPSTREAM_CONTAINER=php
#         # php container - php-fpm exposed port
#         - PHP_UPSTREAM_PORT=9000
#     volumes:
#       - ./:/var/www
#       - ./docker/logs/:/var/log/nginx
#       - ./docker/sites/:/etc/nginx/sites-available
#     ports:
#       - "${APP_PORT:-80}:80"
#     expose:
#       - "${APP_PORT:-80}"
#     depends_on:
#       - php

  db:
    container_name: database
    image: postgres:17.4-alpine3.21
    restart: unless-stopped
    tty: true
    environment:
      # default is 'postgres', but you can change it in your ENV file
      - POSTGRES_USER=${DB_USERNAME:-postgres}
      # default is 'postgres', but you can change it in your ENV file
      - POSTGRES_PASSWORD=${DB_PASSWORD:-postgres}
      # default is 'laravel', but you can change it in your ENV file
      - POSTGRES_DB=${DB_DATABASE:-laravel}
    ports:
      - '${DB_PORT:-5432}:5432'
    volumes:
      - db:/var/lib/postgresql/data
    command: -c shared_buffers=512MB
